/* 头像 */
.face-wapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	margin: 120upx 0;
}
.face{
	width: 160upx;
	height: 160upx;
	border-radius: 50%;
}
/* 注册登陆 */
.info-wapper{
	display: flex;
	justify-content: center;
	
	border-bottom: solid 1px #DBDBDa;
	padding-bottom: 20upx;
}
.words-lbl{
	color: #808080;
}
.input{
	width: 500upx;
	margin-left: 40upx;
}
.graywords{
	color: #EAEAEA;
}